datasets/so101-right-pick-blue-box-v1-70ep.zip filter=lfs diff=lfs merge=lfs -text
datasets/**/*.mp4 filter=lfs diff=lfs merge=lfs -text
datasets/**/*.parquet filter=lfs diff=lfs merge=lfs -text
huggingface/lerobot/**/*.mp4 filter=lfs diff=lfs merge=lfs -text
huggingface/lerobot/**/*.parquet filter=lfs diff=lfs merge=lfs -text
